/* CSS styling for simpleMsgDialog */

/* THIS IS THE DEFAULT FONT SIZE */
dialog { font: 20px Sans;}

#CSS_message_label { font-weight: bold; }

#CSS_errorDialog
{
	background-color: red;
	color: yellow;
	border: 6px solid black;
}

#CSS_notifyDialog
{
	background-color: chartreuse2;
	color: black;
	border: 6px solid black;
}

#CSS_questionDialog
{
	background-color: cornflowerblue;
	color: black;
	border: 6px solid black;
}

#CSS_informationDialog
{
	background-color: wheat;
	color: black;
	border: 6px solid black;
}

button
{
	color: black;
	border: 3px solid black;
}

button:hover
{
	border-color: orange;
}