/* THESE ARE THE DEFAULT CSS VARIABLES */
/*	SOME OF THE VARIABLES IN THIS FILE CAN BE RE-DEFINED IN THE  mpd_pi.conf FILE TO OVERRIDE THE VARIABLE */
/* SEE GTK+ CSS DOCUMENTION FOR DETAILS. */

/* DEFINE COLORS */
@define-color window_text_color 					black;
@define-color play_bg_color 							chartreuse2;
@define-color pause_bg_color 						cornflowerblue;
@define-color stop_bg_color 							firebrick1;
@define-color notracks_bg_color 					lightgrey;

@define-color trackview_bg_color 					grey97;
@define-color trackview_text_color 				black;
@define-color treeview_selected_bg_color 		lightgrey;
@define-color treeview_selected_text_color 	black;

@define-color treeview_header_bg_color 		lightgrey;
@define-color treeview_header_text_color 		black;

@define-color songview_bg_color 					grey97;
@define-color songview_text_color 					black;

@define-color popup_menu_bg_color				grey97;
@define-color popup_menu_text_color 			black;
@define-color popup_hover_text_color 			black;
@define-color popup_hover_bg_color 				lightgrey;
@define-color popup_header_text_color 			black;
@define-color popup_header_bg_color 			lightgrey;

@define-color tooltip_text_color						black;
@define-color tooltip_bg_color 						grey97;

@define-color progressbar_text_color				 black;
@define-color progressbar_trackview_text_color				 black;
@define-color progressbar_songview_text_color				 black;

/* MAIN WINDOW VARIABLES */
window {font: initial;} /* initial will use the system default font, unless over-written in the config file */

window { color: @window_text_color; }

/* SET THE MPD PLAYER STATE COLORS */
/* STOPPED */
window.background#CSS_window_main-STOP { background-color: @stop_bg_color; }

/* PLAY */
window.background#CSS_window_main-PLAY { background-color: @play_bg_color; }

/* PAUSE */
window.background#CSS_window_main-PAUSE { background-color: @pause_bg_color; }

/* NO TRACKS IN QUEUE */
window.background#CSS_window_main-NOTRACKS{ background-color: @notracks_bg_color; }

/* SET PROGRESS TROUGH COLOR PER THE MPD STATE BACKGROUND COLOR */
#CSS_window_main-PLAY progressbar trough 	{ 	background-color: @play_bg_color; }

#CSS_window_main-STOP progressbar trough 	{	background-color: @stop_bg_color }

#CSS_window_main-PAUSE progressbar trough {	background-color: @pause_bg_color; }

/* PROGRESS BAR VARIABLES */
progressbar { 	color: @progressbar_text_color; margin: 5px; }

progressbar progress { min-height: 15px; }

progressbar trough
{
	min-height: 15px;
	min-width: 150px;
	border-radius: 12px;
	border: 3px solid black;
	background-image: none;
}

/* TRACKVIEW BOX VARIABLES */
#CSS_boxTrackview
{
	background-color: @trackview_bg_color;
	border: 6px solid black;
	border-radius: 12px;
/*	background-size: auto;*/
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
}

/* TRACKVIEW VARIABLES */
treeview
{
	color: @trackview_text_color;
/*	background-color: @trackview_bg_color;*/
 	background-color: transparent;
	border: 1px solid gray42;
}

treeview header button
{
	background-color: @treeview_header_bg_color;
	color: @treeview_header_text_color;
	font-weight: bold;
	border: 1px solid gray42;
}

treeview:selected
{
	background-image: none;
	background-color: @treeview_selected_bg_color;
	color: @treeview_selected_text_color;
}

/* THIS SETS MENU TITLE (ACTUALLY THE FIRST MENUITEM) FOR THE POPUP MENU  */
#CSS_Popup_Menu_TitleMi
{
	color: @popup_header_text_color;
	background-color: @popup_header_bg_color;
	font-weight: bold;
	font-size: larger;
	border-bottom: 3px solid black;
	border-left: 3px solid black;
	border-right: 3px solid black;
}

/* POPUP MENU VARIABLES */
menu
{
	font-weight: normal;
	font-style: normal;
	background-color: @popup_menu_bg_color;
	color: @popup_menu_text_color;
	border: 3px solid black;
	border-radius: 12px;
}

menuitem:hover
{
	color: @popup_hover_text_color;
	background-color: @popup_hover_bg_color;
	font-weight: bold;
	font-style: italic;
	border-right: 3px solid black;
	border-left: 3px solid black;
}

menu separator
{
	background-color: black;
	min-height: 3px;
}

menuitem check
{
    min-width: 20px;
    min-height: 20px;
    padding: 4px;
}

menu arrow
{
    min-width: 26px;
    min-height: 26px;
    padding: 4px;
    color: black;
    border-radius: 0;
}

/* BUTTON VARIABLES */
button
{
	background-image: none;
	background-color: transparent;
	box-shadow: none;
}

button:hover { 	border-color: black; }

tooltip
{
	font: initial;
	color: red;
	background-color: @tooltip_bg_color;
	border: 3px solid black; 	border-radius: 12px;
}

/* SET MARGINS FOR THE PLAYER CONTROL BOX */
/*#CSS_btnBoxPlayerControls{	margin : 10px;}*/

/* SET MARGINS FOR PROGRESS BOX  */
/*#CSS_boxProgressBars {	margin : 10px;}*/

/* BOX ZERO CONFIGURATION */
#CSS_box_0 {	padding: 5px; }

/*#CSS_boxFlipHorzVertBP { margin: 5px; }*/



/* SONGVIEW LABEL VARIABLES */
#CSS_lblSongTitle
{
	padding: 25px;
	font: 150px Sans;
	color: @window_text_color;
}

#CSS_lblSongDiskTrack,
#CSS_lblSongAlbum,
#CSS_lblSongArtist,
#CSS_lblSongName,
#CSS_lblSongAlbumArtist
{
	padding: 25px;
	font: 90px Sans;
}

#CSS_lblSongDiskTrack,
#CSS_lblSongAlbum,
#CSS_lblSongArtist,
#CSS_lblSongName,
#CSS_lblSongAlbumArtist
{ 	color: @window_text_color; }

#CSS_lblSongURI {	color: @window_text_color; }

#CSS_lblSongURI {
	padding: 25px;
	font: 20px Sans;
}

/* SETS THE SONGVIEW BACKGROUND COLOR */
/* SEE https://www.w3schools.com/csS/css3_gradients.asp */
#CSS_scrollSongview
{
	background-color: @songview_bg_color;
/* Note: background-image may be over-written by the image file specified in the mpd_pi.conf file	*/
/*	background-image: -gtk-gradient (linear, 0 0, 1 0,
		color-stop(0, limegreen),  color-stop(.25, yellow),  color-stop(.5, gold),  color-stop(.75, yellow), color-stop(1, firebrick1));*/

	background-size: 100% 100%;
	border: 6px solid black;
	border-radius: 12px;
}

#CSS_SongviewMode progressbar { 	color: @progressbar_songview_text_color; }
#CSS_TrackviewMode progressbar { 	color: @progressbar_trackview_text_color; }

#CSS_SongviewMode progressbar progress
{
	background-image: -gtk-gradient (linear, 0 0, 1 0,
		color-stop(0, @notracks_bg_color), color-stop(1, grey25));
}

#CSS_TrackviewMode progressbar progress
{
	background-image: -gtk-gradient (linear, 0 0, 1 0,
		color-stop(0, @notracks_bg_color), color-stop(1, grey25));
}